.divChat {
    position: absolute;
    width: auto;
    height: auto;
    top: 5px;
    bottom: 5px;
    right: 260px;
    left: 5px;
}
.divMain {
    position: absolute;
    right: 5px;
    width: 55px;
}

.textArea {
    width: 100%;
    height: 100%;
    position: absolute;
}
