<div id="divAction" style="width: auto">
    {% for action in actions.keys() %}
    <div style="width: auto">{{ action.title() }}
        {% if actions[action] == 0 %}
        <input type="text" id="{{ action }}Value{{ i }}" style="width: 50px" value="0">
        %
        {% else %}
            {% for i in range(actions[action]) %}
            <div  style="width: auto; padding: 5px;">
                <select id="{{ action }}_user{{ i }}" style="margin: auto; width: auto;">
                    {% for user in users %}
                    <option value="{{ user }}">{{ user }}</option>
                    {% end %}
                </select>
                <input type="text" id="{{ action }}Value{{ i }}" style="margin: auto; width: 50px" value="0">
                %
            </div>
            {% end %}
        {% end %}
    </div>
    {% end %}
    <div class="divCenter">
        <button id="doButton" style="margin:0 5px 0 0;">Do</button>
        <button id="resetButton" style="margin:0 5px 0 0;">Reset</button>
        <button id="cancelButton">Cancel</button>
    </div>
</div>