.character-table tr {
    vertical-align : middle;
    text-align: center;
}

.character-table td {
    vertical-align : middle;
    text-align: center;
    padding: 1px;
}

.select-common{
    margin: auto;
    width: 150px;
    height: 25px;
    padding: 2px;
}
