.label-error {
    margin: auto;
    color: red;
}

input, select, label {
    margin: 0 10px 0 10px;
    width: 200px
}

.select-common{
    margin: auto;
    width: auto;
    height: 25px;
    padding: 2px;
}
