.baseInfoBar {
    position: absolute;
    height: 10px;
    width: auto;
    left: 5px;
    right: 5px;
}

.baseInfoBar label {
    position: absolute;
    width: auto;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.commonSelect {
    margin: auto;
    width: auto;
}

.errorLabel {
    margin: auto;
    color: red;
}

.mainContentDiv {
    position: absolute;
    width: auto;
    height: auto;
    left: 5px;
    right: 5px;
    top: 20px;
    bottom: 5px;
}

.contentDiv {
    top: 5px;
}

.sideBar {
    position: absolute;
    width: auto;
    left: 5px;
    top: 20px;
}

.mouse_pointer {
    cursor: pointer;
}

.divChat {
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    bottom: 95px;
    right: 130px;
    left: 5px;
}

.divUsers {
    position: absolute;
    right: 0;
    width: auto;
}

.divUsersOnlineSkirmish {
    width: auto;
}

.tabbable {
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
}

.nav {
    margin-bottom: 10px;
}

.divSend {
    position: fixed;
    bottom: 20px;
    top: auto;
    width: 300px;
    height: 20px;
}

.sendButton {
    position: absolute;
    left: 320px;
    width: 100px;
}

.divMain {
    position: absolute;
    right: 5px;
    width: auto;
}

.divCenter {
    text-align: center;
}

.textArea {
    position: absolute;
    width: 100%;
    height: 100%;
}

.characterInfoTable {
    width: 100%;
    border : 0;
}

.characterInfoTable tr,
.teamInfoTable tr {
    vertical-align : middle;
    text-align: center;
}

.characterInfoTable td,
.teamInfoTable td {
    vertical-align : middle;
    padding: 1px 5px 1px 5px;
}

.teamInfoTable {
    width: auto;
    border : 0;
}

.characterInfoTable label,
.teamInfoTable label {
    margin-bottom: 0;
    margin-top: 0;
}

.divTeamCreation {
    width: auto;
    float: left;
}

.divTeamInvitations {
    width: auto;
    float: left;
    margin-right: 10px;
}

.divTeamCreation p, input {
    margin-bottom: 2px;
}

.divTeamCreation input {
    width: 150px
}

.tableContentHolder tr {
    vertical-align : top;
}

.tableContentHolder >tbody>tr>td {
    padding-right: 20px;
}

.shopMenu, .shopMenu ul, .shopMenu li{
    padding:0;
    margin:0;
}

.shopMenu li{
    list-style: none;
    position: relative;
    width: 0;
    height: 20px;
    padding:0 10px;
    line-height: 20px;
    cursor:pointer;
    text-align:center
}

.shopMenu li a{
    white-space: nowrap;
    text-decoration:none;
}

.shopMenu li:hover{
    background-color:#08C;
}

.shopMenu li:hover>a {
    color: #ffffff;
}

.shopMenu ul ul{
    position: absolute;
    top:0;
    left:0;
    visibility:hidden;
}

.shopMenu ul li:hover ul{
    visibility:visible;
}

.itemDescriptionDiv {
    width: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.itemDescriptionTable {
    width: 400px;
}

.itemDescriptionTable td {
    padding-left: 10px;
    padding-right: 10px;
}
