.select-common {
    margin: auto;
    width: auto;
    height: 25px;
    padding: 2px;
}

.text-common {
    margin: auto;
    width: 25px;
    height: 20px;
    padding: 2px;
}

.table-common {
    width: auto;
    border : 0;
}

.table-common tr {
    vertical-align : middle;
    text-align: center;
}

.table-common td {
    vertical-align : middle;
    padding: 1px 5px 1px 5px;
}

.table-common h4 {
    width: auto;
}

.table-common label {
    margin-bottom: 0;
    margin-top: 0;
}

.label-error {
    margin: auto;
    color: red;
}

.location-user-label {
}

.skirmish-user-label {
    color: red;
}

.team-user-label {
    color: green;
}

.div-content-main {
    position: absolute;
    width: auto;
    height: auto;
    left: 5px;
    right: 5px;
    top: 0;
    bottom: 5px;
}

.div-content {
    position: absolute;
    width: auto;
    height: auto;
    left: 0;
    right: 0;
    top: 45px;
    bottom: 0;
}

.navbar-left {
    position: absolute;
    width: auto;
    left: 5px;
    top: 5px;
}

.mouse_pointer {
    cursor: pointer;
}

.tabbable {
    height: 100%;
    overflow: hidden;
}

.tab-pane {
    width: 100%;
    height: 100%;
}

.tab-content {
    position: absolute;
    left:0;
    top:40px;
    bottom: 30px;
    overflow-y: scroll;
    width: 100%;
}

.div-send {
    position: absolute;
    bottom: 0;
    top: auto;
    width: 300px;
    height: 30px;
}

.chat-container {
    width: 100%;
    min-width: 300px;
    max-width: 100%;
}

.div-action {
    width: auto;
    display: block;
}

.scroll-container {
    width: auto;
    height: 100%;
    position: relative;
    float:  right;
}

.div-users {
    height: 100%;
    overflow-y: scroll;
    width: auto;
}

#divOnlineUsers label,
#divTeamUsers label {
    min-width: 50px;
    text-align: center;
    width: 100%;
}

#sendTextArea {
    width: 270px;
    height: 30px;
}

.btn-send {
    position: absolute;
    left: 300px;
    width: 50px;
    height: 40px;
}

.div-center {
    text-align: center;
}

.div-center Table {
    margin-left: auto;
    margin-right: auto;
}

.table-character-stuff td,
.table-bag-stuff td,
.table-spells td {
    position: relative;
    cursor: default;
    width: 50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: solid 1px;
}

.table-spells td {
    cursor: default;
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
}

/* these span should be replaced with images/icons of items/spells */
.span-item-icon {
    margin-left: 0;
    float: none;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.span-spell-icon {
    margin-left: 0;
    float: none;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

span.active {
    border: #ffd700 solid 2px;
}

/* these span should be replaced with images/icons of items */

.auto-width {
    width: auto;
}

.div-team-creation {
    width: auto;
    float: left;
}

.divTeamInvitations {
    width: auto;
    float: left;
    margin-right: 10px;
}

.div-team-creation p, input {
    margin-bottom: 2px;
}

.div-team-creation input {
    width: 150px
}

.table-content-holder {
    width: 100%;
}

.table-content-holder tr {
    vertical-align : top;
}

.menu-bar {
    height: 20px;
}

.menu-bar, .menu-bar ul, .menu-bar li{
    padding:0;
    margin:0;
}

.menu-bar li{
    list-style: none;
    position: relative;
    cursor:pointer;
    text-align:center;
    float: left;
    padding:0 10px;
    line-height: 20px;
}

.menu-bar li a{
    text-decoration:none;
    white-space: nowrap;
}

.menu-bar li:hover{
    background-color:#08C;
}

.menu-bar li:hover>a {
    color: #ffffff;
}

.menu-bar ul.menu-first-ul{
    position: absolute;
    top:20px;
    left:0;
    visibility:hidden;
}

.menu-bar ul.menu-second-ul{
    position: absolute;
    top:0;
    left:100px;
    visibility:hidden;
}

.menu-bar ul li:hover ul.menu-first-ul{
    visibility:visible;
}

.menu-bar ul li ul li:hover ul.menu-second-ul{
    visibility:visible;
}

.div-item-description {
    width: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-item-description {
    width: 400px;
}

.table-item-description td {
    padding-left: 10px;
    padding-right: 10px;
}

.vmenu {
    border: 1px solid #aaa;
    position: absolute;
    background: #fff;
    display: none;
    font-size: 0.75em;
}

.vmenu .first_li {
    width: auto;
    display: block;
    padding: 2px 5px;
    cursor: default;
}

.vmenu .sep_li {
    border-top: 1px ridge #aaa;
    margin: 1px 0
}

button.tabClose {
    font-size: 15px;
    padding: 0 5px 0 5px;
    float: none;
}

.tabs-skirmish {
    margin-bottom: 10px;
}

.tabs-skirmish >li >a {
    background-color: #f0f0f0;
    border-color: #eeeeee #eeeeee #dddddd;
    padding: 5px 0 5px 5px;
}

.tabs-skirmish >li.mainTab >a {
    padding-right: 5px;
    height: 20px;
}

.font-battle {
    color: #980000;
}

.font-exp {
    color: #8a00b7;
}

.font-damage {
    color: #BA0000;
}

.font-hp {
    color: #008600;
}

.font-hp-low {
    color: #ffb559;
}

.font-hp-very-low {
    color: #BA0000;
}

.font-heal {
    color: #008600;
}

/*.text-chat {
    background-color: #000000;
    color: #ffffff;
}*/

.div-character-info,
.div-frames-container {
    width: auto;
    height: auto;
    top: 100px;
    right: auto;
    padding: 5px;
}

.div-character-info {
    background-color: #ffffff;
    float: left;
    margin-right: 5px;
}

.div-users {
    white-space: nowrap;
}