.baseInfoBar {
    position: absolute;
    height: 10px;
    width: auto;
    left: 5px;
    right: 5px;
}

.baseInfoBar label {
    width: auto;
    display: inline;
}

.commonSelect {
    margin: auto;
    width: auto;
    height: 25px;
    padding: 3px;
}

.errorLabel {
    margin: auto;
    color: red;
}

.onlineUserLabel,
.skirmishUserLabel {
    min-width: 50px;
    text-align: center;
}

.skirmishUserLabel {
    color: red;
}

.mainContentDiv {
    position: absolute;
    width: auto;
    height: auto;
    left: 5px;
    right: 5px;
    top: 0px;
    bottom: 5px;
}

.contentDiv {
    position: absolute;
    width: auto;
    height: auto;
    left: 0;
    right: 0;
    top: 30px;
    bottom: 0;
}

.sideBar {
    position: absolute;
    width: auto;
    left: 5px;
    top: 5px;
}

.mouse_pointer {
    cursor: pointer;
}

.divChat {
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    bottom: 95px;
    right: 130px;
    left: 5px;
}

.divUsers {
    position: absolute;
    right: 0;
    width: auto;
}

.divUsersOnlineSkirmish {
    width: auto;
}

.tabbable {
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
}

.nav {
    margin-bottom: 10px;
}

.divSend {
    position: fixed;
    bottom: 20px;
    top: auto;
    width: 300px;
    height: 30px;
}

.sendButton {
    position: absolute;
    left: 320px;
    width: 100px;
}

.divMain {
    position: absolute;
    right: 5px;
    width: auto;
}

.divCenter {
    text-align: center;
}

.divCenter Table {
    margin-left: auto;
    margin-right: auto;
}

.textArea {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow : auto
}

.commonTable {
    width: 100%;
    border : 0;
}

.commonTable tr{
    vertical-align : middle;
    text-align: center;
}

.commonTable td{
    vertical-align : middle;
    padding: 1px 5px 1px 5px;
}

.autoWidthTable {
    width: auto;
}

.commonTable label{
    margin-bottom: 0;
    margin-top: 0;
}

.divTeamCreation {
    width: auto;
    float: left;
}

.divTeamInvitations {
    width: auto;
    float: left;
    margin-right: 10px;
}

.divTeamCreation p, input {
    margin-bottom: 2px;
}

.divTeamCreation input {
    width: 150px
}

.tableContentHolder tr {
    vertical-align : top;
}

.tableContentHolder >tbody>tr>td {
    padding-right: 20px;
}

.shopMenu, .shopMenu ul, .shopMenu li{
    padding:0;
    margin:0;
}

.shopMenu li{
    list-style: none;
    position: relative;
    width: 0;
    height: 20px;
    padding:0 10px;
    line-height: 20px;
    cursor:pointer;
    text-align:center
}

.shopMenu li a{
    white-space: nowrap;
    text-decoration:none;
}

.shopMenu li:hover{
    background-color:#08C;
}

.shopMenu li:hover>a {
    color: #ffffff;
}

.shopMenu ul ul{
    position: absolute;
    top:0;
    left:0;
    visibility:hidden;
}

.shopMenu ul li:hover ul{
    visibility:visible;
}

.itemDescriptionDiv {
    width: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.itemDescriptionTable {
    width: 400px;
}

.itemDescriptionTable td {
    padding-left: 10px;
    padding-right: 10px;
}

.vmenu {
    border: 1px solid #aaa;
    position: absolute;
    background: #fff;
    display: none;
    font-size: 0.75em;
}

.vmenu .first_li {
    width: auto;
    display: block;
    padding: 2px 5px;
    cursor: default;
}

.vmenu .sep_li {
    border-top: 1px ridge #aaa;
    margin: 1px 0
}

button.tabClose {
    font-size: 15px;
    padding: 0 5px 0 5px;
    float: none;
}

.skirmish-tabs >li >a {
    background-color: #f0f0f0;
    border-color: #eeeeee #eeeeee #dddddd;
    padding: 5px 0 5px 5px;
}

.skirmish-tabs >li.mainTab >a {
    padding-right: 5px;
    height: 20px;
}
