.divChat {
    position: absolute;
    width: auto;
    height: auto;
    top: 5px;
    bottom: 125px;
    right: 130px;
    left: 5px;
}
.divUsers {
    position: absolute;
    right: 5px;
    width: auto;
}

.tabbable {
    position: absolute;
    right: 0px;
    left: 0;
    height: 100%;
}

.divSend {
    position: fixed;
    bottom: 20px;
    top: auto;
    width: 300px;
    height: 20px;
}

.sendButton {
    position:fixed;
    left: 320px;
    width: 100px;
}

.divMain {
    position: absolute;
    right: 5px;
    width: 130px;
}

.divCenter {
    text-align: center;
}

.textArea {
    width: 100%;
    height: 100%;
    position: absolute;
}

.characterInfoTable {
    width: 100%;
    border : 0;
}

.characterInfoTable tr {
    vertical-align : middle;
    text-align: center;
}

.characterInfoTable td {
    padding: 0;
    margin: 0, 0, 0, 0;
}