.contentDiv {
    position: absolute;
    width: auto;
    height: auto;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
}

.sideBar {
    position: absolute;
    width: auto;
    left: 5px;
}

.mouse_pointer {
    cursor: pointer;
}

.divChat {
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    bottom: 95px;
    right: 130px;
    left: 5px;
}

.divUsers {
    position: absolute;
    right: 5px;
    width: auto;
}

.divUsersOnlineSkirmish {
    width: auto;
}

.tabbable {
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
}

.nav {
    margin-bottom: 10px;
}

.divSend {
    position: fixed;
    bottom: 20px;
    top: auto;
    width: 300px;
    height: 20px;
}

.sendButton {
    position: absolute;
    left: 320px;
    width: 100px;
}

.divMain {
    position: absolute;
    right: 5px;
    width: auto;
}

.divCenter {
    text-align: center;
}

.textArea {
    position: absolute;
    width: 100%;
    height: 100%;
}

.characterInfoTable {
    width: 100%;
    border : 0;
}

.characterInfoTable tr {
    vertical-align : middle;
    text-align: center;
}

.characterInfoTable td {
    padding: 0;
    margin: 0, 0, 0, 0;
}