{% comment "actions(list of tuples <action id, action name>), spells(list of spells/skills)" %}
<div id="divAction" class="div-action">
    <table class="table-common">
        {% for action in actions %}
            {% if action[0] != 2 or len(spells) > 0 %}
                <tr class="action" action="{{ action[0] }}">
                    <td>
                        {{ action[1] }}
                    </td>
                    {% if action[0] == 3 %}
                        <td>
                        </td>
                        <td>
                            <div style="padding: 10px">
                                <div class="slider">
                                </div>
                            </div>
                        </td>
                        <td>
                            <label class="label-percent-amount">0%</label>
                        </td>
                    {% else %}
                        <td>
                            <button class="btn button-player-select" data-toggle="button" data-pressed-text="{{ _("Select player") }}">{{ _("Choose player") }}</button>
                        </td>
                        <td>
                            <div style="padding: 10px; width: auto">
                                <div class="slider">
                                </div>
                            </div>
                        </td>
                        <td>
                            <label class="label-percent-amount">0%</label>
                        </td>
                    {% end %}
                </tr>
                    {% if action[0] == 2 and len(spells) > 0 %}
                        <tr class="tr-spells">
                            <td></td>
                            <td colspan="2">
                                <table id="spellsTable" class="table-spells">
                                    {% for i in range(len(spells)) %}
                                    {% if i % 3 == 0 %}
                                    <tr>
                                    {% end %}
                                        <td>
                                            <span value="{{ spells[i].id }}" class="span-spell-icon
                                                    {% if spells[i].is_self %}
                                                  self
                                                    {% end %}
                                                  " title="{{ spells[i].name }}"
                                                  data-content="{{ spells[i].description }}"
                                                    >{{ spells[i].name }}</span>
                                        </td>
                                    {% if i % 3 == 2 or i + 1 == len(spells) %}
                                    </tr>
                                    {% end %}
                                    {% end %}
                                </table>
                            </td>
                        </tr>
                    {% end %}
            {% end %}
        {% end %}
    </table>
    <div class="div-center">
        <button id="doButton" style="margin:0 5px 0 0;">{{ _("Do") }}</button>
        <button id="resetButton" style="margin:0 5px 0 0;">{{ _("Reset") }}</button>
        <button id="cancelButton">{{ _("Cancel") }}</button>
    </div>
</div>