{% comment item - list of item properties - id, name, type, required_stats, bonus_stats, price, description %}
{% comment group_name (text name of group), can_buy if user has enough money %}
<div id="item_description_{{ item[0] }}" class="well itemDescriptionDiv">
    <button class="close">&times;</button>
    <table class="characterInfoTable itemDescriptionTable">
        <tr><td>{{ item[1] }}</td><td>{{ group_name }}</td><td>{{ _("{0} gold").format(item[5]) }}</td></tr>
        <tr><td colspan="3">{{ item[6] }}</td></tr>
        {% if item[0] > 0 %}
        <tr><td colspan="3"><button id="buyButton" item_id="{{ item[0] }}"
                {% if not can_buy %}
                disabled="disabled"
                {% end %}
                >{{ _("Buy") }}</button></td></tr>
        {% end %}
    </table>
</div>