{% comment sunstance = string substance name %}
{% comment shop = shop content ordereddict(section_name, ordereddict(id, name)), %}
{% comment database - the same as shop, but for all objects %}
{% comment locations - dict of location_id:location_name %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{{ _("Skirmish") }}</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../static/css/skirmish.css" rel="stylesheet" type="text/css">
    <script src="../static/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="../static/js/bootstrap.js" type="text/javascript"></script>
    <script src="../static/js/common.js" type="text/javascript"></script>
    <script src="../static/js/locale.js" type="text/javascript"></script>
    <script src="../static/js/skirmish_battle.js" type="text/javascript"></script>
    <script src="../static/js/skirmish_character.js" type="text/javascript"></script>
    <script src="../static/js/skirmish_team.js" type="text/javascript"></script>
    <script src="../static/js/skirmish_shop.js" type="text/javascript"></script>
    <script src="../static/js/skirmish.js" type="text/javascript"></script>
</head>

<body>
    <div id="sideBar" class="navbar-left">
        <ul class="nav nav-list">
            <li id="serverStatus" class="nav-header">
                Connected
            </li>
            <li class="active">
                <a id="battleAnchor" class="mouse_pointer"><i class="icon-fire"></i>{{ _("Battle") }}</a>
            </li>
            <li>
                <a id="teamAnchor" class="mouse_pointer"><i class="icon-home"></i>{{ _("Team") }}</a>
            </li>
            <li>
                <a id="shopAnchor" class="mouse_pointer"><i class="icon-shopping-cart"></i>{{ _("Shop") }}</a>
            </li>
            <li>
                <a id="dbAnchor" class="mouse_pointer"><i class="icon-book"></i>{{ _("Database") }}</a>
            </li>
            <li>
                <a id="logoutAnchor" class="mouse_pointer"><i class="icon-briefcase"></i>{{ _("Logout") }}</a>
            </li>
        </ul>
    </div>
    <div id="contentDiv" class="div-content-main">
        <div id="topInfoBar" class="bar-info-top div-center">
            <table class="table-common auto-width">
                <tr>
                    <td>{{ _("Name") }}</td><td><label id="nameLabel"></label></td>
                    <td>{{ _("Race") }}</td><td><label id="raceLabel"></label></td>
                    <td>{{ _("Class") }}</td><td><label id="classLabel"></label></td>
                    <td>{{ _("Level") }}</td><td><label id="levelLabel"></label></td>
                    <td>
                        <div class="progress progress-bar-base">
                            <label class="progress-bar-label div-center" id="HPLabel"></label>
                            <div id="healthBar" class="bar bar-common bar-health" style="width: 1%;">
                                <label class="progress-bar-label progress-bar-label-white" id="whiteHPLabel"></label>
                            </div>
                        </div>
                        <div class="progress progress-bar-base">
                            <label class="progress-bar-label div-center" id="MPLabel"></label>
                            <div id="manaBar" class="bar bar-common bar-{{ substance.lower() }}" style="width: 1%;">
                                <label class="progress-bar-label progress-bar-label-white" id="whiteMPLabel"></label>
                            </div>
                        </div>
                    </td>
                    <td>{{ _("Gold") }}</td><td><label id="goldLabel"></label></td>
                    <td>{{ _("Location") }}</td>
                    <td>
                        <select id="locationSelect" class="select-common">
                        {% for location_id in locations.keys() %}
                            <option value="{{ location_id }}">{{ locations[location_id] }}</option>
                        {% end %}
                        </select>
                    </td>
                    <td>
                        <button id="joinButton" style="margin:0 0 0 0;" disabled="disabled">{{ _("Join") }}</button><button id="leaveButton" style="margin:0 0 0 0;" disabled="disabled">{{ _("Leave") }}</button>
                    </td>
                    <td><a id="characterAnchor" class="mouse_pointer"><i class="icon-user"></i></a></td>
                    <td><a id="bagAnchor" class="mouse_pointer"><i class="icon-gift"></i></a></td>
                </tr>
                <tr>
                    <td colspan="17">
                        <div class="progress progress-bar-experience">
                            <label class="progress-bar-label" id="experienceLabel"></label>
                            <div id="experienceBar" class="bar bar-common bar-experience" style="width: 1%;">
                                <label class="progress-bar-label progress-bar-label-white" id="whiteExperienceLabel"></label>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="battleDivContainer" class="div-content">
            <div id="divActionContainer" class="div-action-container">
                <p class="div-center"><button id="dropButton">{{ _("Drop") }}</button></p>
                <div id="divUsers" class="div-users">
                    <div id="divOnlineUsers" class="div-users-list auto-width">
                    </div>
                    <div id="divTeamUsers" class="div-users-list auto-width">
                    </div>
                </div>
            </div>
            <div id="divChat" class="div-chat">
                <div id="tabChat" class="tabbable">
                    <ul class="nav nav-tabs tabs-skirmish">
                        <li class="mainTab active">
                            <a id="battleTab" href="#battlePane" data-toggle="tab">
                                <span>{{ _("Battle") }}</span>
                            </a>
                        </li>
                        <li class="mainTab">
                            <a id="locationTab" href="#locationPane" data-toggle="tab">
                                <span>{Location_name}</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="battlePane">
                            <div id="battleTextArea" class="text-chat"></div>
                        </div>
                        <div class="tab-pane" id="locationPane">
                            <div id="locationTextArea" class="text-chat"></div>
                        </div>
                    </div>
                    <div class="div-send">
                        <textarea id="sendTextArea" class="text-chat" rows="10" cols="0"></textarea><button id="sendButton" class="btn-send">{{ _("Send") }}</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="teamDivContainer" class="div-content">
        </div>


        <div id="shopDivContainer" class="div-content">
            <div id="shopMenu" class="menu-bar">
                <ul class="menu-main-ul">
                {% for item_super_group_name in shop.keys() %}
                    <li><a href="javascript:void(0)">{{ item_super_group_name }}</a>
                        <ul class="menu-first-ul">
                            {% for item_group_name in shop[item_super_group_name].keys() %}
                            <li><a href="javascript:void(0)">{{ item_group_name }}</a>
                                <ul class="menu-second-ul">
                                    {% for item_id in shop[item_super_group_name][item_group_name].keys() %}
                                    <li><a href="javascript:void(0)" item_id="{{ item_id }}">{{ shop[item_super_group_name][item_group_name][item_id] }}</a></li>
                                    {% end %}
                                </ul>
                            </li>
                            {% end %}
                        </ul>
                    </li>
                {% end %}
                </ul>
            </div>
            <div id="shopItemDescriptions">
            </div>
        </div>

        <div id="dbDivContainer" class="div-content">
            <div id="dbMenu" class="menu-bar">
                <ul class="menu-main-ul">
                    {% for item_super_group_name in database.keys() %}
                    <li><a href="javascript:void(0)">{{ item_super_group_name }}</a>
                        <ul class="menu-first-ul">
                            {% for item_group_name in database[item_super_group_name].keys() %}
                            <li><a href="javascript:void(0)">{{ item_group_name }}</a>
                                <ul class="menu-second-ul">
                                    {% for item_id in database[item_super_group_name][item_group_name].keys() %}
                                    <li><a href="javascript:void(0)" item_id="{{ item_id }}">{{ database[item_super_group_name][item_group_name][item_id] }}</a></li>
                                    {% end %}
                                </ul>
                            </li>
                            {% end %}
                        </ul>
                    </li>
                    {% end %}
                </ul>
            </div>
            <div id="dbItemDescriptions">
            </div>
        </div>
        <div id="framesDivContainer" class="div-content div-frames-container">
            <div id="characterDivFrame" class="well div-character-info">
                <button class="close">&times;</button>
                <table class="table-common table-content-holder">
                    <tr><td colspan="2"><h4>{{ _("Character") }}</h4></td></tr>
                    <tr>
                        <td>
                            <table class="table-common">
                                <tr><td>{{ _("Strength") }}</td><td><label id="battleStrengthLabel"></label></td><td>/</td><td><label id="strengthLabel"></label></td></tr>
                                <tr><td>{{ _("Dexterity") }}</td><td><label id="battleDexterityLabel"></label></td><td>/</td><td><label id="dexterityLabel"></label></td></tr>
                                <tr><td>{{ _("Intellect") }}</td><td><label id="battleIntellectLabel"></label></td><td>/</td><td><label id="intellectLabel"></label></td></tr>
                                <tr><td>{{ _("Wisdom") }}</td><td><label id="battleWisdomLabel"></label></td><td>/</td><td><label id="wisdomLabel"></label></td></tr>
                                <tr><td>{{ _("Constitution") }}</td><td><label id="battleConstitutionLabel"></label></td><td>/</td><td><label id="constitutionLabel"></label></td></tr>
                                <tr><td>{{ _("Attack") }}</td><td><label id="battleAttackLabel"></label></td><td>/</td><td><label id="attackLabel"></label></td></tr>
                                <tr><td>{{ _("Defence") }}</td><td><label id="battleDefenceLabel"></label></td><td>/</td><td><label id="defenceLabel"></label></td></tr>
                                <tr><td>{{ _("Magic attack") }}</td><td><label id="battleMagicAttackLabel"></label></td><td>/</td><td><label id="magicAttackLabel"></label></td></tr>
                                <tr><td>{{ _("Magic defence") }}</td><td><label id="battleMagicDefenceLabel"></label></td><td>/</td><td><label id="magicDefenceLabel"></label></td></tr>
                                <tr><td>{{ _("Armor") }}</td><td><label id="battleArmorLabel"></label></td><td>/</td><td><label id="armorLabel"></label></td></tr>
                                <tr><td>{{ _("Team") }}</td><td colspan="3"><label id="teamLabel"></label></td></tr>
                                <tr><td>{{ _("Rank") }}</td><td colspan="3"><label id="rankLabel"></label></td></tr>
                            </table>
                        </td>
                        <td>
                            <table id="characterStuffTable" class="table-common table-character-stuff">
                                <tr>
                                    <td id="headCell"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td id="cloakCell"></td>
                                </tr>
                                <tr>
                                    <td id="bodyCell"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td id="legsCell"></td>
                                </tr>
                                <tr>
                                    <td id="handsCell"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td id="feetCell"></td>
                                </tr>
                                <tr>
                                    <td id="right_ringCell"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td id="left_ringCell"></td>
                                </tr>
                                <tr>
                                    <td id="right_handCell"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td id="left_handCell"></td>
                                </tr>
                            </table>
                        </td>
                        <!--td>
                            <h4>{{ _("Character Spells") }}</h4>
                            <div id="characterSpellDiv">
                            </div>
                        </td-->
                    </tr>
                </table>
            </div>
            <div id="bagDivFrame" class="well div-character-info">
                <button class="close">&times;</button>
                <table class="table-common table-content-holder">
                    <tr><td><h4>{{ _("Bag") }}</h4></td></tr>
                    <tr>
                        <td>
                            <table id="bagStuffTable" class="table-common table-bag-stuff">
                                <tr><td></td><td></td><td></td><td></td></tr>
                                <tr><td></td><td></td><td></td><td></td></tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="vmenu" class="vmenu">
        <div id="privateChatMenuItem" class="first_li">{{ _("Open private chat") }}</div>
        <div id="inspectMenuItem" class="first_li">{{ _("Inspect user") }}</div>
        <div id="inviteMenuItem" class="first_li">{{ _("Invite to team") }}</div>
        <div class="sep_li"></div>
        <div class="first_li">{{ _("Ignore") }}</div>
    </div>
    <script type="text/javascript">initialize();</script>
</body>
</html>
