{% comment login = string user name, sunstance = string substance name, shop = shop content ordereddict(section_name, ordereddict(id, name)) %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{{ _("Skirmish") }}</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../static/css/skirmish.css" rel="stylesheet" type="text/css">
    <script src="../static/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="../static/js/bootstrap.js" type="text/javascript"></script>
    <script src="../static/js/common.js" type="text/javascript"></script>
    <script src="../static/js/locale.js" type="text/javascript"></script>
    <script src="../static/js/skirmish_battle.js" type="text/javascript"></script>
    <script src="../static/js/skirmish_character.js" type="text/javascript"></script>
    <script src="../static/js/skirmish_team.js" type="text/javascript"></script>
    <script src="../static/js/skirmish_shop.js" type="text/javascript"></script>
    <script src="../static/js/skirmish.js" type="text/javascript"></script>
</head>

<body>
    <div id="sideBar" class="sideBar">
        <ul class="nav nav-list">
            <li id="serverStatus" class="nav-header">
                Connected
            </li>
            <li class="active">
                <a id="battleAnchor" class="mouse_pointer"><i class="icon-fire"></i>{{ _("Battle") }}</a>
            </li>
            <li>
                <a id="characterAnchor" class="mouse_pointer"><i class="icon-user"></i>{{ _("Character") }}</a>
            </li>
            <li>
                <a id="teamAnchor" class="mouse_pointer"><i class="icon-home"></i>{{ _("Team") }}</a>
            </li>
            <li>
                <a id="shopAnchor" class="mouse_pointer"><i class="icon-shopping-cart"></i>{{ _("Shop") }}</a>
            </li>
            <li>
                <a id="dbAnchor" class="mouse_pointer"><i class="icon-book"></i>{{ _("Database") }}</a>
            </li>
        </ul>
    </div>
    <div id="contentDiv" class="contentDiv">
        <div id="battleDivContainer" class="contentDiv">
            <div id="divMain" class="divMain">
                <div class="divCenter">
                    <p>{{ _("Hello") }}, {{ login }}.</p>
                    <p><button id="logoutButton" style="margin:0 5px 0 0;">{{ _("Logout") }}</button><button id="dropButton">{{ _("Drop") }}</button></p>
                </div>
                <table id="characterInfoTable" class="characterInfoTable">
                    <tr><td>{{ _("Name") }}</td><td><label id="nameLabel_battle"></label></td></tr>
                    <tr><td>{{ _("Class") }}</td><td><label id="classLabel_battle"></label></td></tr>
                    <tr><td>{{ _("Level") }}</td><td><label id="levelLabel_battle"></label></td></tr>
                    <tr><td>{{ _("Health") }}</td><td><label id="HPLabel_battle"></label></td></tr>
                    <tr><td>{{ substance }}</td><td><label id="MPLabel_battle"></label></td></tr>
                </table>
                <div class="divCenter">
                    <p><button id="joinButton" style="margin:0 0 0 0;" disabled="disabled">{{ _("Join") }}</button><button id="leaveButton" style="margin:0 0 0 0;" disabled="disabled">{{ _("Leave") }}</button></p>
                </div>
            </div>
            <div id="divChat" class="divChat">
                <div id="divUsers" class="divUsers">
                    <div id="divSkirmishUsers" class="divUsersOnlineSkirmish">
                    </div>
                    <div id="divOnlineUsers" class="divUsersOnlineSkirmish">
                    </div>
                </div>
                <div id="tabChat" class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#1" data-toggle="tab">En</a></li>
                        <li><a href="#2" data-toggle="tab">Ru</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="1">
                            <textarea id="enTextArea" class="textArea" rows="10" cols="0" readonly="readonly"></textarea>
                        </div>
                        <div class="tab-pane" id="2">
                            <textarea id="ruTextArea" class="textArea" rows="10" cols="0" readonly="readonly"></textarea>
                        </div>
                    </div>
                    <div class="divSend">
                        <textarea id="sendTextArea" class="textArea" rows="10" cols="0"></textarea><button id="sendButton" class="sendButton">{{ _("Send") }}</button>
                    </div>
                </div>
            </div>
        </div>


        <div id="characterDivContainer" class="contentDiv">
            <table class="tableContentHolder">
                <tr>
                    <td>
                        <table id="fullCharacterInfoTable" class="characterInfoTable">
                            <tr><td>{{ _("Name") }}</td><td><label id="nameLabel"></label></td></tr>
                            <tr><td>{{ _("Class") }}</td><td><label id="classLabel"></label></td></tr>
                            <tr><td>{{ _("Level") }}</td><td><label id="levelLabel"></label></td></tr>
                            <tr><td>{{ _("Health") }}</td><td><label id="HPLabel"></label></td></tr>
                            <tr><td>{{ substance }}</td><td><label id="MPLabel"></label></td></tr>
                            <tr><td>{{ _("Strength") }}</td><td><label id="strengthLabel"></label></td></tr>
                            <tr><td>{{ _("Dexterity") }}</td><td><label id="dexterityLabel"></label></td></tr>
                            <tr><td>{{ _("Intellect") }}</td><td><label id="intellectLabel"></label></td></tr>
                            <tr><td>{{ _("Wisdom") }}</td><td><label id="wisdomLabel"></label></td></tr>
                            <tr><td>{{ _("Constitution") }}</td><td><label id="constitutionLabel"></label></td></tr>
                            <tr><td>{{ _("Attack") }}</td><td><label id="attackLabel"></label></td></tr>
                            <tr><td>{{ _("Defence") }}</td><td><label id="defenceLabel"></label></td></tr>
                            <tr><td>{{ _("Magic attack") }}</td><td><label id="magicAttackLabel"></label></td></tr>
                            <tr><td>{{ _("Magic defence") }}</td><td><label id="magicDefenceLabel"></label></td></tr>
                            <tr><td>{{ _("Armor") }}</td><td><label id="armorLabel"></label></td></tr>
                            <tr><td>{{ _("Experience") }}</td><td><label id="experienceLabel"></label></td></tr>
                            <tr><td>{{ _("Gold") }}</td><td><label id="goldLabel"></label></td></tr>
                            <tr><td>{{ _("Team") }}</td><td><label id="teamLabel"></label></td></tr>
                            <tr><td>{{ _("Rank") }}</td><td><label id="rankLabel"></label></td></tr>
                        </table>
                    </td>
                    <td>
                        <table id="characterStuffTable" class="characterInfoTable">
                            <tr><td>{{ _("Weapon") }}</td><td><select id="weaponSelect" class="commonSelect"></select></td></tr>
                            <tr><td>{{ _("Shield") }}</td><td><select id="shieldSelect" class="commonSelect"></select></td></tr>
                            <tr><td>{{ _("Head") }}</td><td><select id="headSelect" class="commonSelect"></select></td></tr>
                            <tr><td>{{ _("Body") }}</td><td><select id="bodySelect" class="commonSelect"></select></td></tr>
                            <tr><td>{{ _("Left hand") }}</td><td><select id="left_handSelect" class="commonSelect"></select></td></tr>
                            <tr><td>{{ _("Right hand") }}</td><td><select id="right_handSelect" class="commonSelect"></select></td></tr>
                            <tr><td>{{ _("Legs") }}</td><td><select id="legsSelect" class="commonSelect"></select></td></tr>
                            <tr><td>{{ _("Feet") }}</td><td><select id="feetSelect" class="commonSelect"></select></td></tr>
                            <tr><td>{{ _("Cloak") }}</td><td><select id="cloakSelect" class="commonSelect"></select></td></tr>
                        </table>
                    </td>
                    <td>
                        <div id="characterSpellDiv">
                        </div>
                    </td>
                </tr>
            </table>
        </div>


        <div id="teamDivContainer" class="contentDiv">
        </div>


        <div id="shopDivContainer" class="contentDiv">
            <div id="goldDiv" class="divCenter">
                {{ _("Gold") }} <label id="shopGoldLabel" style="width: 100px; display: inline;"></label>
            </div>
            <div id="shopMenu" class="shopMenu">
                <ul>
                    {% for item_group_name in shop.keys() %}
                    <li><a href="javascript:void(0)">{{ item_group_name }}</a>
                        <ul>
                            {% for item_id in shop[item_group_name].keys() %}
                            <li><a href="javascript:void(0)" item_id="{{ item_id }}">{{ shop[item_group_name][item_id] }}</a></li>
                            {% end %}
                        </ul>
                    </li>
                    {% end %}
                </ul>
            </div>
            <div id="shopItemDescriptions">
            </div>
        </div>

        <div id="dbDivContainer" class="contentDiv">
            <div id="dbMenu" class="shopMenu">
                <ul>
                    {% for item_group_name in shop.keys() %}
                    <li><a href="javascript:void(0)">{{ item_group_name }}</a>
                        <ul>
                            {% for item_id in shop[item_group_name].keys() %}
                            <li><a href="javascript:void(0)" item_id="{{ item_id }}">{{ shop[item_group_name][item_id] }}</a></li>
                            {% end %}
                        </ul>
                    </li>
                    {% end %}
                </ul>
            </div>
            <div id="dbItemDescriptions">
            </div>
        </div>
    </div>
    <script type="text/javascript">initialize();</script>
</body>
</html>
