{% comment spell - object with properties - id, name, class_id, required_level, mana, price, description %}
{% comment class_name (text name of group), substance_name %}
<div item_id="{{ spell.id }}" class="well div-item-description">
    <button class="close">&times;</button>
    <table class="table-common table-item-description">
        <tr><td>{{ spell.name }}</td><td>{{ class_name }}</td><td>{{ _("{0} gold").format(spell.price) }}</td><td>{{ _("{0} {1}").format(spell.mana, substance_name.lower()) }}</td></tr>
        <tr><td colspan="4">{{ spell.description }}</td></tr>
    </table>
</div>