{% comment "user_name, team_name, team_gold, members = dict(member_name, member_rank), " %}
{% comment "gold_sharing = dict(id, name), experience_sharing = dict(id, name) " %}
<div id="divTeam" class="divTeam">
    <h4>{{ _("Team information") }}</h4>
    <table class="table-common auto-width">
        <tr><td>{{ _("Name") }}</td><td><label id="teamNameLabel" style="margin: 0 0 0 5px">{{ team_name }}</label></td></tr>
        <tr><td>{{ _("Gold") }}</td><td><label id="goldLabel" style="margin: 0 0 0 5px">{{ team_gold }}</label></td></tr>
        <tr><td>{{ _("Gold sharing") }}</td>
            <td>
                {% if members[user_name] < 2 %}
                <select id="goldSharingSelect" class="select-common">
                    {% for gold_sharing_id in gold_sharing.keys() %}
                    <option value="{{ gold_sharing_id }}">{{ gold_sharing[gold_sharing_id] }}</option>
                    {% end %}
                </select>
                {% else %}
                <label id="goldSharingLabel" style="margin: 0 0 0 5px">{{ gold_sharing[0] }}</label>
                {% end %}
            </td>
        </tr>
        <tr><td>{{ _("Experience sharing") }}</td>
            <td>
                {% if members[user_name] < 2 %}
                <select id="experienceSharingSelect" class="select-common">
                    {% for experience_sharing_id in experience_sharing.keys() %}
                    <option value="{{ experience_sharing_id }}">{{ experience_sharing[experience_sharing_id] }}</option>
                    {% end %}
                </select>
                {% else %}
                <label id="experienceSharingLabel" style="margin: 0 0 0 5px">{{ experience_sharing[0] }}</label>
                {% end %}
            </td>
        </tr>
        <tr><td><button id="leaveTeamButton" style="margin: 0 0 0 5px">{{ _("Leave") }}</button></td><td></td></tr>
    </table>
    <h4>{{ _("Team members") }}</h4>
    <table class="table-common auto-width">
        <tr><td>{{ _("Member's name") }}</td><td>{{ _("Member's rank") }}</td></tr>
        {% for member_name in members.keys() %}
        <tr>
            <td><label id="memberNameLabel">{{ member_name }}</label></td><td><label id="memberRankLabel">{{ members[member_name] }}</label></td>
            {% if members[user_name] < 2 and user_name != member_name %}
                <td><button user_name="{{ member_name }}" class="promoteButton"
                    {% if members[member_name] == 0 or members[member_name] <= members[user_name] %}
                        disabled
                    {% end %}
                    >{{ _("Promote") }}</button>
                </td>
                <td><button user_name="{{ member_name }}" class="demoteButton"
                    {% if members[member_name] == 5 or members[member_name] <= members[user_name] %}
                        disabled
                    {% end %}
                     >{{ _("Demote") }}</button>
                </td>
                <td><button user_name="{{ member_name }}" class="removeButton"
                    {% if member_name == user_name or members[member_name] <= members[user_name] %}
                        disabled
                    {% end %}
                    >{{ _("Remove") }}</button>
                </td>
            {% end %}
        </tr>
        {% end %}
    </table>
</div>
