{% comment user - OnlineUserInfo %}
{% import smarty %}
<table class="table-common">
    <tr>
        <td>
            {{ user.character.name }}
        </td>
        <td>
            {{ smarty.get_race_name(user.character.race_id, user.locale) }}
        </td>
        <td>
            {{ smarty.get_class_name(user.character.class_id, user.locale) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ _("Level %s") % user.character.level }}
        </td>
        <td>
            {{ _("Health {0}").format(user.character.health) }}
        </td>
        <td>
            {{ _("{0} {1}").format(smarty.get_substance_name(user.character.class_id, user.locale), user.character.health) }}
        </td>
    </tr>
</table>