{% comment type, user, visible %}
<label
{% if type == 0 %}
    class="skirmish-user-label" title="{{ _("Short Info") }}" data-content='{% module Template("user_popup.html", user=user) %}'
{% elif type == 1 %}
    class="location-user-label team-user-label"
{% elif type == 2 %}
    class="location-user-label"
{% end %}
{% if not visible %}
    style="display: none;"
{% end %}
    value="{{ user.user_name }}" >
{% if type == 0 and user.character.team_name %}
    {{ user.user_name }}[{{ user.character.team_name }}]
{% else %}
    {{ user.user_name }}
{% end %}
</label>